# Virtual environments
# Virtual environments
.venv/
venv/
hiver_env/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Generated datasets
output/*.csv

# Local data
data/

# Environment variables
.env

# OS files
.DS_Store